<h1>Editing person</h1>

<%= render "form", person: @person, family: @family %>

<br>

<div>
  <%= link_to "Show this person", [@family, @person] %> |
  <%= link_to "Back to people", people_path %>
</div>
