<h1>Arts</h1>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Abbrev</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @arts.each do |art| %>
        <tr>
          <td><%= link_to "#{art.name} (#{art.abbrev})", art %></td>
          <td><%= link_to 'Edit', edit_art_path(art) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New art", new_art_path %>
