.white {
  color: black;
}
.yellow {
  color: yellow;
}
.orange {
  color: orange;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.purple {
  color: purple;
}
.brown {
  color: brown;
}
.red {
  color: red;
}
.black {
  color: black;
}
