.belt-white {
  color: black;
}
.belt-yellow {
  color: gold;
}
.belt-orange {
  color: orange;
}
.belt-green {
  color: green;
}
.belt-blue {
  color: blue;
}
.belt-purple {
  color: darkviolet;
}
.belt-brown {
  color: brown;
}
.belt-red {
  color: red;
}
.belt-black {
  color: black;
}
